.content {
	border-style: inset;
	padding: 10px;
}

.content h2 {
    color: #03A9F4;
    font-weight: 300;
    font-size: 35px;
}

input[type=button], button {
    background: #03A9F4;
    padding: 10px 16px;
    width: auto;
    font-weight: 600;
    text-transform:  uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
    border: 0;
    outline: 0;
    margin: 15px 15px 15px 0;
    transition: all 0.25s;
} 

input[type=button]:hover, button:hover {
    background: #0288D1;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

input 

input {
    background: transparent;
    border-bottom: 1px solid #45494C;
    font-size: 14px;
    color: #959595;
    padding: 8px 0;
}

table { border-spacing: 3px 10px; border: 1px solid; width: 100% !important}

th { border: 1px solid; }

td { border: 1px solid black; padding: 10px 0; text-align: center; }

 .ui-dialog {
    position: relative; 
    padding: .2em; 
    width: 450px !important;
    border: 1px solid black;
} 

.ui-dialog-titlebar-close{
	display: none !important;
}

.ui-widget-overlay {
   background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x !important;
   opacity: .30 !important;
   filter: Alpha(Opacity=30);
}

.ui-dialog{z-index: 300 !important;}


